*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Top css codes  */

.top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #008fd5;
    color: white;
}
.top p{
    align-self: center;
    margin: 0;
}
.top button{
    margin-left: 30px;
    padding: 5px;
    font-size: 15px;
    border: none;
    background-color: #347894;
    color: white;
}


/* navbar css codes  */

nav{
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    text-align: center;
    align-self: center;
    margin: 0;
}
.logo{
    width: 180px;
    padding: 10px;
    background-color: #cf2e2e;
    height: 70px;
    margin-top: 0px;
}
nav ul li{
    list-style: none;
    text-align: center;
    width: 130px;
    height: 68px;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
}
nav ul li:hover{
    background-color: gray;
    border-bottom: 2px;
}

/* top banner codes  */
.banner{
    width: 100%;
    height: 500px;
    background-image: url(./img/masthead/masthead-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bs1{
    display: flex;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}
.pre img{
    width: 56px;
    height: 50px;
    background-color: deepskyblue;
    padding: 10px;
    border-radius: 7px;;
}
.txt{
    text-align: center;
}
.line{
    width: 230px;
    height: 6px;
    background-color: white;
    border-radius: 10px;
    margin-left: 200px;
    rotate: -5deg;
}
.txt h1{
    font-size: 70px;
    width: 675px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    rotate: -5deg;
    text-align: center;
    text-shadow: 3px 3px 19px black;
}
.txt p{
    width: 700px;
    color: white;
    rotate: -5deg;
    text-align: center;
    font-size: 22px;
    text-shadow: 3px 3px 19px black;
}
.next img{
    width: 56px;
    height: 50px;
    background-color: deepskyblue;
    padding: 10px;
    border-radius: 7px;
}

/* banner last section  */
.bs2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.bs2L{
    margin-top: 50px;
    display: flex;
}
.bs2L p{
    margin-left: 20px;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.bs2L p a{
    text-decoration: none;
    font-weight: bold;
    color: #747fc0;
}
.downArrow img{
    width: 25px;
    animation: animate 2s infinite;

}
.dot{
    display: flex;
    margin-right: 30px;
    margin-top: 50px;
}
.dot1{
    width: 15px;
    background-color: white;
    height: 15px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
}

/* animation in banner .downArrow button  */
.downArrow img:nth-child(1){
    animation-delay: -0.2s;
}
.downArrow img:nth-child(2){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* section 1 css codes  */
.bannerDown{
    display: flex;
    justify-content: center;
    background-color: #cf2e2e;
    color: white;
}
.bannerInside{
    width: 100%;
    padding: 10%;
}
.bannerInside h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
}
.bannerInside h1:hover{
    background: rgb(172, 35, 35);
}

.line2{
    width: 100%;
    height: 6px;
    background-color: #521818;
    border-radius: 10px;
    margin-bottom: 20px;
}
.ce{
    text-align: center;
    width: 100%;
}

.box{
    width: 100%;
    height: 50px;
    background: skyblue;
}
.fa-plus{
    font-size: 35px;
    align-self: center;
}
.last{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}
.last p{
    font-size: 20px;
    width: 676px;
}
.last button{
    width: 200px;
    border: none;
    border-radius: 33px;
    height: 40px;
    font-size: 15px;
    background-color: #6C0000;
    color: white;
}


/* Our Process  */
.section3{
    background-color: #3e6a90;
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 3%;
}
.section3 h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-bottom: 5%;
}
.cardM{
    display: flex;
    background-color: #3e6a90;
    justify-content: center;
}
.card1{
    width: 18%;
    height: 300px;
    background-color: #234a6c;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
}
.card1:hover{
    width: 18%;
    height: 310px;
    background-color: #234a6c;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    animation: animate2 1s linear;
}
@keyframes animate2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.card1 h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-top: 20%;
}
.line3{
    width: 65px;
    height: 5px;
    background-color: #3e6a90;
    border-radius: 10px;
    margin-left: 90px;
    margin-bottom: 25px;
}
.card1 p{
    color: white;
    font-weight: bold;
    width: 229px;
    margin-bottom: 25px;
}
.card1 button{
    text-align: center;
    width: 165px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    padding: 5px;
    background-color: #3e6a90;
    color: white;
    font-weight: bold;
}

/* Application css codes  */

.section4{
    width: 100%;
    height: 800px;
    background-color: skyblue;
    text-align: center;
    padding: 5%;
}
.section4 h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 90px;
    margin-left: -130px;
}
.appIm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ro1{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-medical.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.appT{
    position: absolute;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    rotate: -45deg;
    margin-left: -100px;
    margin-top: 80px;
}
.ro2{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-oem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro3{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-construction.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro4{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-transportation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro5{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-dunnage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro6{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-material-handling.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro7{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-outdoor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.ro8{
    width: 200px;
    height: 200px;
    background-image: url(./img/appIcon/app-agriculture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: 45deg;
    margin-right: 115px;
    border-radius: 10px;
}
.appIm2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.appIm3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}